<div class="container">
  <form class="login-form" [formGroup]="loginForm">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      formControlName="email"
      >
      <span class="error" *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched && loginForm.controls['email'].errors && loginForm.controls['email'].errors['required']">
        {{ loginForm.controls['email'].errors && loginForm.controls['email'].errors | json}}
        This field is required
      </span>
      <span class="error" *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched && loginForm.controls['email'].errors && loginForm.controls['email'].errors['email']">
        Not a valid email address
      </span>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1"
      formControlName="password"
      >
      <span class="error" *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched && loginForm.controls['password'].errors && loginForm.controls['password'].errors['required']">
        This field is required
      </span>
      <span class="error" *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched && loginForm.controls['password'].errors && loginForm.controls['password'].errors['pattern']">
        <ul>
          <li>should contain at least one upper case</li>
          <li>should contain at least one lower case</li>
          <li>should contain at least one digit</li>
          <li>should contain at least one Special character</li>
          <li>Must be at least 8 characters in length  </li>
        </ul>
      </span>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid" (click)="login()">Submit</button>
  </form>
</div>
